MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=hellopixipod@mail.ru
MAIL_PASSWORD=replace_with_mail_ru_app_password
MAIL_FROM=PixiPod <hellopixipod@mail.ru>
LEADS_TO_EMAIL=hellopixipod@mail.ru
